.Header{
  color: rgb(132, 32, 50);
}

.HeaderDisplay{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title{
  padding-right: 20px;
  font-family: serif;
}

.App-logo-top {
  height: 150px;
}
