@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 1.2em;
  color: rgb(132, 32, 50);
  background: linear-gradient(lightblue, lightgrey);
}
