.Navbar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(132, 32, 50);
}
.navFont{
  text-decoration: none;
  color: white;
}

.navFont:hover{
  text-decoration: underline;
}
